<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title> BitBoxPHP beta版 1.0.1 开源框架 技术界的混乱开拓者</title>

		<link rel="stylesheet" href="public/css/box/base/baseindex.css" />
		<script type="text/javascript" src="public/js/box/base/vue.js"></script>

	</head>

	<body>

		<div class="headtop">
			<div class="headtop.ul">
				<h1> BitBoxPHP Beta 1.0.1 版 草稿激情搞事版本发布。</h1>
				</br>
			</div>

			<div class="top">
				<div class="top-nav">
					|
					<a href="index.php">首页</a> |
					<a href="index.php?a=1">关于我们</a> |
					<a href="index.php?a=2"> 帮助文档</a> |
					<a href="index.php?a=3">版本</a> |
					<a href="index.php?a=5">捐赠</a> |
					
					<a href="http://www.hahahuyu.com">hahahuyu.com</a> |
				</div>
				</br>
			</br> --------------------------------------------------------------------------------
			</div>
		</div>

	</body>

</html>